@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    background: var(--Light-blue-light-blue-100, #F3F5FC);
    color: var(--Dark-blue-dark-blue-300, #0A3871);
    font-family: Inter;
    
    line-height: 150%; /* 48px */

}

.logo {
    margin-top: 40px;
}

.header {
    /* background-color: aquamarine;
    width: 90%;
    margin: auto */
    display: flex;
    width: 120px;
    height: 48px;
    flex-direction: column;
    align-items: flex-start;
    gap: 40px;
    flex-shrink: 0;
}

.main {
    background-color: aquamarine;
    width: 85%;
    margin: auto 40px auto auto;
    display: flex;

}
.left {
    background-color: cadetblue;
    max-width: 800px;
    width: 100%;
}

.right {
    background-color: chocolate;
    max-width: 400px;
    width: 100%;
}

.text_area {
    border: none;
    color: #0A3871;
    margin-top: 90px;
    text-transform: lowercase;
}

::placeholder{
    color: #0A3871;
}

.text_area:focus{outline: none;}

.mensaje{
    background: white;
    
    background-repeat: no-repeat;
    border: none;
    border-radius: 24px;
    color: #0A3871;
    margin-left: 98px;
    margin-top: 20px;
    padding-left: 98px;
    position: fixed;
}

.mensaje:focus {
    outline: none;
}

.botones{
    display: flex;
    margin-top: 18px;

}

.btn_encriptar {
    background-color: #0A3871;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: white;
    cursor: pointer;
    height: 67px;
    width: 328px;
    
}

.btn_desencriptar {
    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    height: 67px;
    margin-left: 30px;
    width: 328px;
}

.btn_copiar {
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    height: 67px;
    margin-left: 108px;
    margin-top: 402px;
    position: absolute;
    width: 336px;

}

.informacion {
    color: #0A3871;
    font-size: 18px;
}

.no-mensaje-1 {
    color: var(--Gray-gray-500, #343A40);
    text-align: center;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%; /* 28.8px */
}

.no-mensaje-2 {
    color: var(--Gray-gray-400, #495057);
    text-align: center;
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%; /* 24px */
}




